# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp

# Test outputs
bids/

# Jupyter
.ipynb_checkpoints/
